beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
extruct==0.17.0
html5lib==1.1
html_text==0.6.2
idna==3.7
isodate==0.6.1
jstyleson==0.0.2
lxml==5.3.0
lxml_html_clean==0.2.0
mf2py==2.0.1
pyparsing==3.1.2
pyRdfa3==3.6.4
rdflib==7.0.0
recipe_scrapers==15.0.0
requests==2.32.3
six==1.16.0
soupsieve==2.6
urllib3==2.2.2
w3lib==2.2.1
webencodings==0.5.1
